
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #9933ff;
    height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #ffff;
    padding: 30px 40px;
    min-width: 470px;
    color: #000;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.inputGroup{
    display: flex;
    padding: 20px 0px;
    gap: 50px;

}

.inputFiel{
    display: flex;
    flex-direction: column;
}

.inputFiel label{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

.inputFiel input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #9933ff;
    font-size: 18px;
    padding: 5px;
}

.inputFiel input:focus{
    outline: none;
}

#generate{
    background-color: #9933ff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    width: 100%;
    margin: 0px 20px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#result{
    font-size: 50px;
    font-weight: 600;
}